dt,
dd {
  float: left;
  width: 25%;
  min-width: 25%;
  padding: 5px;
}

section {
  margin-bottom: 50px;
}

section h3 {
  margin-top: 0;
}

.table {
  margin-bottom: 75px;
  width: 100%;
}

.table td,
.table th {
  text-align: left;
  width: 33%;
}
