dt,
dd {
  float: left;
  width: 25%;
  min-width: 25%;
  padding: 5px;
}

section {
  margin-bottom: 50px;
}

section h3 {
  margin-top: 0;
}

.graph {
  width: 100%;
}

.table {
  margin-bottom: 75px;
  width: 100%;
}

.table td,
.table th {
  text-align: left;
  width: 33%;
}

.table.centered td,
.table.centered th {
  text-align: center;
  width: auto;
}

.table.valign-middle td,
.table.valign-middle th {
  vertical-align: middle;
}
