@media print {
  body,
  div,
  h1,
  h2,
  h3,
  ol,
  p,
  span,
  ul {
    display: block !important;
    width: auto !important;
    float: none !important;
    position: static !important;
    overflow: visible !important;
  }

  h1 {
    margin-top: 50%;
    text-align: center;
  }

  section h2 {
    page-break-before: always;
  }

  section.energy-cost-usage .graph {
    max-width: 29%;
    width: 29%;
    margin: 2%;
  }

  .graph {
    display: inline-block;
    float: left;
    margin-top: 50px;
    max-width: 46%;
    margin: 2%;
    text-align: center;
    width: 46%;
  }

  .navbar {
    display: none !important;
  }

  .table-of-contents {
    display: none;
  }
}
