@media print {
  body,
  h1,
  h2,
  h3,
  ol,
  ul,
  div,
  span,
  p {
    display: block !important;
    width: auto !important;
    float: none !important;
    position: static !important;
    overflow: visible !important;
  }

  .graph {
    display: inline-block;
  }

  .navbar {
    display: none !important;
  }

  .table-of-contents {
    display: none;
  }
}
